/* styles/globals.css */
html, body {
  height: 100%;
  margin: 0;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.LightThemeBG {
  background-color: #e5e5e2;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.footer {
  margin-top: auto;
}

.navbarMargin {
  margin-left: 5px; 
  margin-right: 5px;
}


@keyframes warp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.warp-animation {
  animation: warp 0.6s ease-in-out;
}
