/* styles/globals.css */
html, body {
  height: 100%;
  margin: 0;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.LightThemeBG {
  background-color: #e5e5e2;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.footer {
  margin-top: auto;
}

.navbarMargin {
  margin-left: 5px; 
  margin-right: 5px;
}

.cardBackgroundCustom {
  background-color: #fdfdfd;
}

.cardShadowCustom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow */
  border-radius: 8px; /* Optional: Add rounded corners */
}
