  .navbarBrand {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0.75rem;
  }

  
  .navLinkDark:hover {
    background-color: #424c85; /* Change color on hover */
  }

  .navLinkLight:hover {
    background-color: #f8c24f; /* Change color on hover */
  }

  .navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0.8rem;
    z-index: 1000; /* Ensure this element is on top */    
    border-radius: 0 0 5px 5px;    
  }

  .navbarCollapseDark {
    color: #fff;
    padding-top: 0.5rem;
  }

  .navbarCollapseLight {
    color: #121212;
    padding-top: 0.5rem;
  }

  .navToggle {
    margin-right: 0.75rem;
  }

  @media only screen and (min-width: 600px){
  .navbarButton{
    position:absolute;
    right: 5%;
  }
}
  @media only screen and (max-width: 600px) {
    .navbarCollapseDark {
      float: right;
      text-align: center;
      color: #fff;
    }
    .navbarButton{
      position: relative;
    }

    .navbarCollapseLight {
      float: right;
      text-align: center;
      color: #121212;
    }
  }