.warpAnimation {
    animation: warp 0.6s ease-in-out;
  }

  @keyframes warp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .navbarBrand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navLink {
    margin-right: 1rem;
  }