.imageBeveled {
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cardBackgroundCustom {
  background-color: #fdfdfd;
}

.cardShadowCustom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.buttonCustomRight {
  float: right;
}

.cardHeaderCustom {
  text-align: center;
}
  
